{{> head}}

{{> navbar}}

<div class="row">
    
    <div class="col-8">
        <h1>
                Hola Mundo
        </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt nulla ducimus itaque sit esse, amet nesciunt, doloribus blanditiis eveniet tenetur quo, reiciendis tempore aspernatur distinctio deserunt ut! Optio, accusamus voluptates.
        </p>
    </div>

    <div class="col-4">
        <img src="/assets/img/zona.jpg" class="img-thumbnail">
    </div>

</div>

{{> footer}}